body {
    background-color: #E2F1E7;
    height: 100vh;
    overflow: hidden;
    font-family: "Funnel Display",sans-serif;
}

.game {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: calc(100vh + 50.5px);
    padding-top: 2rem;
    padding-bottom: calc(2rem + 50.5px);
}

.result {
    color:#629584;
    font-weight: 900;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border: none;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#E2F1E7;
    background-color:#629584;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    padding: 10px 34px;
    font-size: 16px;
}

button:active {
    background-color:#387478;
}

.display {
    margin: 10px;
    display: flex;
    gap: 30px;
}

.names {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 15px;
    color:#629584;
    font-weight: 900;
    font-size: 20px;
}

.names div {
    width: 100px;
    text-align: center;
}

.pScore,
.cScore {
    margin-top: 20px;
    font-size: 50px;
    color:#629584;
    font-weight: 900;
}

.display .img {
    border: 4px solid #629584;
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

.display img[src] {
    border: none ;
    height: 70px;
    width: 52px;
    object-fit:scale-down;
}

.display .player {
    margin-left: 26px;
    margin-top: 10px;
    transform: rotate(45deg);
}

.display .computer {
    margin-left: 26px;
    margin-top: 10px;
    transform: scaleX(-1) rotate(45deg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding-left: 10px;
} 

.footer a {
    text-decoration: none;
    font-size: smaller;
    color:#629584;
}

.footer a:hover {
    text-decoration: underline;
    font-size: smaller;
    color:#387478;
}